name: Update Foundry Package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Foundry Website
        uses: djlechuck/foundryvtt-publish-package-action@v1
        with:
          token: ${{ secrets.FOUNDRY_API_KEY }}
          manifest: https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/module.json
